  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <p class="navbar-text pull-right">
  <div class="container">
    <%= render partial: '/layouts/header' %>
    <%= yield %>
  </div>
